<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Home Page</title>
  <style>
    body {
      background-image: url('https://www.ingemorath.org/wp-content/uploads/2010/05/Inge_Llama_featured_image-528x576.jpg');
      background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw 100vh;
    }

    a {
      color: black;
      font-size: 25px;
    }

    h1 {
      color: black;
      text-shadow: 3px 3px #eae3e3;
    }
    </style>
</head>
<body>
  <div class="homepage">
    <nav>
      <div class="signlinks">
        <p> <a href="/auth/sign-in">Sign in</a> </p>
        <p> <a href="/auth/sign-up">Sign up</a></p>
      </div>
    </nav>
    <div class="homepagetitle">
    <h1> Happy Snaps</h1>
  </div>
</body>
</html>
